.ArticlesPanel {
  border: 2px solid grey;
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  margin-top: 0vw;
  margin: 3vw;
}
.ArticlesPanel:hover {
  border: 2px solid greenyellow;
  cursor: pointer;
}

.articleHeader {
  margin: 0;
  font-size: 4vw;
  color: midnightblue;
}

.select {
  border: 2px solid grey;
  border-radius: 8px;
  font-family: "Oswald", sans-serif;
  background: #ededed;
  padding: 0vw 5vw;
  cursor: pointer;
  margin-right: 3vw;
  margin-bottom: 0vw;
  float: right;
}
