.NC-header {
  font-family: "Oswald", sans-serif;
  font-size: 10vw;
  text-align: center;
  text-align: left;

  display: inline;
  border-bottom: 4px solid Black;
}

h1 {
  margin-bottom: 3vw;
}

h1:hover {
  cursor: pointer;
}
