.singleArticlePanel {
  border: 2px solid grey;
  border-radius: 8px;
  padding: 1vw 2vw 1vw 2vw;
  margin: 3vw;
}

.singlearticleHeader {
  margin: 0vw;
}

p {
  margin: 0vw;
}

.body {
  margin: 3vw;
}
