button {
  background: #ededed;
  border: 1px solid #ccc;
  padding: 10px 10px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 2px;
  font-family: "Oswald", sans-serif;
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}

.true {
  background: greenyellow;
}
